$about_title_color : #646668;
$about_content_color : #666;

$back_top_color : rgb(156, 152, 152);
$back_top_color_hover : rgb(190, 187, 187);

$change_lang_color : rgb(173, 169, 169);
$change_lang_color_hover : rgb(122, 117, 117);

$friend_link_color: #2c9ac5;
$friend_link_color_hover: #05688f;
$foo_color : rgb(255, 255, 255);
$foo_bg_color : #8f8f8f;

$head_bg_color : rgb(255, 255, 255);
$home_title_color : rgb(175, 170, 170);

$foo_color : rgb(255, 255, 255);
$foo_bg_color : #8f8f8f;

$mem_color: rgb(47, 79, 139);
$mem_color_hover: #eeb987;
$mem_title_color: rgb(146, 38, 43);
$mem_even_color: rgb(226, 229, 231);

$owl_nav_btn_color: #141414;
$owl_nav_btn_bg_color: rgb(245, 241, 241);

$page_title_color: #0145A9;
$page_title_color_hover : rgb(75, 131, 216);
$page_read_more_color_hover : rgb(255, 180, 119);

$sing_head_color : rgb(194, 194, 194);
$sing_title_color : rgb(189, 189, 189);
$sing_relate_title_color : #0145A9;
$sing_relate_title_color_hover : #4284e7;
$schedule_title_color: #0145A9;
$schedule_content_color: rgb(99, 99, 99);







