$head_bg_color : rgb(255, 255, 255);
$foo_color : rgb(255, 255, 255);
$foo_bg_color : #8f8f8f;

$back_top_color : rgb(156, 152, 152);
$back_top_color_hover : rgb(190, 187, 187);

$change_lang_color : rgb(173, 169, 169);
$change_lang_color_hover : rgb(122, 117, 117);

$page_title_color_hover : rgb(45, 99, 180);
$page_read_more_color_hover : rgb(255, 180, 119);

$sing_head_color : rgb(194, 194, 194);
$sing_title_color : rgb(105, 176, 243);
$sing_relate_title_color : rgb(45, 175, 121);
$sing_relate_title_color_hover : rgb(29, 128, 60);