$about_title_color : #646668;
$about_content_color : #666;

$back_top_color : rgb(156, 152, 152);
$back_top_color_hover : rgb(190, 187, 187);

$change_lang_color : rgb(173, 169, 169);
$change_lang_color_hover : rgb(122, 117, 117);

// $friend_link_color: #0145A9;
// $friend_link_color_hover: rgb(75, 131, 216);
$foo_color : rgb(255, 255, 255);
$foo_bg_color : #8f8f8f;

$load_more_color: rgb(75, 73, 73);

$head_bg_color : rgb(255, 255, 255);
$home_title_color : rgb(175, 170, 170);
$head_title_color : rgb(175, 170, 170);

$foo_color : rgb(255, 255, 255);
$foo_bg_color : #8f8f8f;

$menu_color: rgb(82, 82, 82);
$mem_color: #2e4d7c;
$mem_color_hover: rgb(101, 126, 163);
$mem_title_color: rgb(83, 82, 82);
$mem_even_color: rgb(226, 229, 231);
$mem_icon_color: rgb(47, 79, 139);

$owl_nav_btn_color: #b8b4b4;

$page_title_color: #2e4d7c;
$page_title_color_hover : rgb(101, 126, 163);
$page_read_more_color_hover : rgb(131, 159, 238);

$sing_head_color : rgb(194, 194, 194);
$sing_title_color : rgb(7, 42, 107);
$sing_relate_title_color : #0145A9;
$sing_relate_title_color_hover : #4284e7;

$schedule_title_color: #2e4d7c;
$schedule_content_color: rgb(99, 99, 99);
$schdeule_time_color: rgb(112, 111, 111); 

$list_odd :#faf9f9;
$list_show : rgb(233, 234, 235);








