@media only screen and (max-device-width : 1920px) {
    .border_box {
        background-color:  #fff;
        height: 500px;
    }
    .skitter {
        max-width: 100% !important;
        height: 500px !important;

    }
    .container_skitter .image_main{
        height: 500px !important;
    }
}

@media only screen and (max-device-width : 1366px)  {
    .border_box {
        background-color:  #fff;
        height: 300px;
    }
    .skitter {
        max-width: 100% !important;
        height: 300px !important;

    }
    .container_skitter .image_main{
        height: 300px !important;
    }
}
@media only screen and (max-device-width : 1280px)  {
    .border_box {
        // background-color: #fff;
        // height: 360px;
        display: none;
    }
    // .skitter {
    //     max-width: 100% !important;
    //     height: 350px !important;

    // }
    // .container_skitter .image_main{
    //     height: 350px !important;
    // }
}

.label_skitter{
    color: #f9fbfd !important;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(255, 255, 255, 0.3) !important;
    h2{
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }
}