$lbl_color : rgb(238, 133, 133);
$lbl_error_color : rgb(255, 25, 25);

$btn_nav_color: rgb(105, 105, 105);

$btn_bg_nav_cn_color : rgb(234, 157, 241);
$btn_bg_nav_vn_color : rgb(255, 227, 68);
$btn_bg_nav_en_color : rgb(108, 184, 255);