@charset "UTF-8";
/*
    This file use frontend
    Create date( dd-mm-yy ) : 17/10/2022
    page, template,..
*/
#container {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  background-color: white; }

#header-logo {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  #header-logo img {
    width: 100px;
    height: 100px;
    object-fit: contain; }
#header .show-on-scroll {
  display: none; }
#header .start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  margin-top: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  animation-name: show-start;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.header-language {
  margin-top: 10px;
  margin-bottom: 10px; }
  .header-language a {
    text-decoration: none;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    color: #ada9a9; }
  .header-language a:hover {
    color: #7a7575; }

.menu-computer {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.footer {
  width: 100%;
  background-color: #8f8f8f;
  background-position: center;
  background-size: 100% 200%;
  background-repeat: no-repeat;
  padding: 2rem 1rem 0rem; }
  .footer .copyright {
    text-align: center;
    margin-right: 5px;
    font-size: 13px;
    padding: 10px; }
    .footer .copyright a {
      color: white;
      font-weight: 400;
      padding-bottom: 10px;
      font-size: 0.8rem;
      text-decoration: none; }
  .footer .info {
    opacity: 0.5; }
    .footer .info label {
      font-size: 18px;
      font-weight: 300;
      color: white; }

.lang-color {
  color: #fcf0da; }

.about {
  margin-bottom: 20px; }
  .about-title {
    font-size: 3rem;
    font-weight: bold;
    font-family: "DFKai-SB", 宋体b8b体, Microsoft YaHei, Arial, sans-serif;
    color: #646668;
    padding: 0.5rem;
    text-align: center; }
  .about-content {
    padding: 2rem;
    border-radius: 0 0 5px 5px;
    color: #666;
    word-wrap: break-word; }

.page-head {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 50%, rgba(156, 156, 156, 0.568) 95%);
  border-radius: 0.3rem;
  font-size: 2.5rem; }
  .page-head h1 {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    text-shadow: 2px 2px 5px #797878; }
.page-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px; }
.page-item {
  float: right;
  margin-top: 10px; }
.page-img {
  padding: 0.3rem 1rem 0.5rem; }
.page-title {
  padding-bottom: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif; }
  .page-title a {
    color: #0145A9;
    text-decoration: none; }
  .page-title a:hover {
    color: #4b83d8;
    text-decoration: none; }
.page-content {
  text-align: left;
  font-size: 18px;
  padding: 0 10px 0 10px; }
.page-read-more {
  text-align: right;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  padding-right: 1rem; }
  .page-read-more a {
    text-decoration: none; }
  .page-read-more a:hover {
    color: #ffb477; }

.carousel {
  display: block;
  width: 100%; }

.owl-carousel .owl-nav {
  overflow: hidden;
  height: 10px; }

.owl-carousel .nav-button {
  height: 20px;
  width: 20px;
  padding: 1px;
  cursor: pointer;
  position: absolute;
  top: 110px !important;
  color: #141414;
  background-color: #f5f1f1; }

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.25; }

/*owl slider*/
.owl-carousel .sli-left {
  left: -35px; }
.owl-carousel .sli-left:hover {
  background-position: 0px -53px; }
.owl-carousel .sli-right {
  right: -35px; }
.owl-carousel .sli-right:hover {
  background-position: -24px -53px; }

/*owl news*/
.owl-carousel .news-left {
  left: -35px; }
.owl-carousel .news-left:hover {
  background-position: 0px -53px; }
.owl-carousel .news-right {
  right: -35px; }
.owl-carousel .news-right:hover {
  background-position: -24px -53px; }

/*owl articles*/
.owl-carousel .art-left {
  left: -35px; }
.owl-carousel .art-left:hover {
  background-position: 0px -53px; }
.owl-carousel .art-right {
  right: -35px; }
.owl-carousel .art-right:hover {
  background-position: -24px -53px; }

.home-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #afaaaa; }

/* member */
.group-border {
  display: block;
  border: 1px #CCC solid;
  margin: 15px 1px;
  padding: 0px 0px;
  border-radius: 3px;
  min-height: 300px; }
.group-title {
  background: #f2f6f8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f2f6f8 0%, #d8e1e7 45%, #b5c6d0 46%, #e0eff9 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2f6f8 0%, #d8e1e7 45%, #b5c6d0 46%, #e0eff9 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 45%, #b5c6d0 46%, #e0eff9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
  /* IE6-9 */
  border-radius: 3px 3px 0 0;
  width: 100%;
  min-height: 40px; }
  .group-title label {
    color: #92262b;
    line-height: 40px;
    padding-left: 10px;
    font-size: 1.3em;
    letter-spacing: 5px;
    font-weight: bold;
    text-shadow: 2px 1px #FFF; }
  .group-title a {
    color: #92262b;
    line-height: 40px;
    padding-left: 10px;
    font-size: 1.3em;
    letter-spacing: 5px;
    font-weight: bold;
    text-shadow: 2px 1px #FFF;
    text-decoration: none; }

.member {
  /* industry */ }
  .member-head {
    width: 100%;
    position: relative;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #f7f2f2;
    cursor: pointer; }
  .member-head:hover {
    background-color: #f1f1f1; }
  .member-title {
    position: absolute;
    left: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #2f4f8b; }
    .member-title i {
      color: #999;
      margin-right: 10px; }
  .member-icon {
    position: absolute;
    right: 5px; }
    .member-icon i {
      font-size: 18px;
      font-weight: bold; }
  .member-content {
    width: 100%;
    display: none;
    background-color: #f1f6fc;
    border-bottom: 3px solid #d8d6d6; }
    .member-content label {
      font-size: 15px;
      color: #666;
      font-weight: 100;
      padding: 5px 0px 5px 10px; }
  .member-industry-list {
    margin-bottom: 0px; }
    .member-industry-list li {
      border-bottom: 1px #f4f4f4 solid;
      padding: 10px;
      display: block; }
      .member-industry-list li a.member-industry-item {
        font-size: 15px;
        width: 100%;
        text-decoration: none;
        color: #2f4f8b;
        letter-spacing: 2px;
        font-weight: bold;
        display: block; }
      .member-industry-list li a.member-industry-item:hover {
        color: #eeb987; }
    .member-industry-list li:nth-child(even) {
      background-color: #e2e5e7; }

/* friend - link */
.friend-link-head {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 50%, rgba(37, 156, 236, 0.568) 95%);
  border-radius: 0.3rem;
  font-size: 2.5rem; }
  .friend-link-head h1 {
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    text-shadow: 2px 2px 5px #797878; }
.friend-link-list {
  padding: 5px; }
  .friend-link-list li {
    padding: 10px;
    border-bottom: 0.1rem #d4d4d4 dotted; }
  .friend-link-list li:hover {
    background-color: #ebf4f7; }
.friend-link-item {
  font-size: 20px;
  font-weight: bold;
  font-family: "DFKai-SB", Microsoft YaHei, Arial, sans-serif;
  display: block; }
  .friend-link-item a {
    color: #2c9ac5;
    text-decoration: none; }
  .friend-link-item a:hover {
    color: #05688f; }

/* schedule */
.schedule-item {
  background-color: #fff;
  letter-spacing: 2px;
  border-bottom: 1px #d8d8d8 solid;
  padding: 10px 5px;
  margin-bottom: 2px;
  margin-left: -1px !important;
  width: 100%;
  cursor: pointer; }
.schedule-item:hover {
  background-color: #f1f1f1; }
.schedule-title {
  font-size: 16px;
  font-weight: bold;
  padding: 0px 10px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  display: block;
  color: #0145A9; }
  .schedule-title div:first-child {
    float: left; }
  .schedule-title div:last-child {
    float: right; }
.schedule-time {
  clear: both; }
.schedule-content {
  width: 100%;
  display: none;
  margin-top: 6px;
  font-size: 14px; }
  .schedule-content b {
    font-weight: 700;
    color: #636363; }

.single {
  /* relate */ }
  .single-head {
    text-align: right;
    color: #c2c2c2;
    font-size: 16px; }
  .single-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #bdbdbd;
    margin-bottom: 10px; }
  .single-content {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 14px;
    margin: 14px; }
  .single-relate {
    margin: 15px;
    padding: auto; }
  .single-relate-image-col {
    float: left;
    width: 33%; }
  .single-relate-title {
    font-size: 20px;
    font-weight: bold;
    color: #636161; }
    .single-relate-title a {
      text-decoration: none;
      color: #0145A9; }
    .single-relate-title a:hover {
      color: #4284e7; }
  .single-relate-content {
    font-size: 15px;
    font-style: italic;
    float: right;
    width: 67%; }
  .single-relate-image {
    height: 120px;
    width: 100%;
    border-radius: 0.2rem; }
    .single-relate-image:hover {
      transform: scale3d(1, 1, 1);
      -webkit-transform: scale3d(1, 1, 1);
      -moz-transform: scale3d(1, 1, 1);
      -o-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1); }

@media only screen and (max-device-width: 1920px) {
  .border_box {
    background-color: #fff;
    height: 560px; }

  .skitter {
    max-width: 100% !important;
    height: 550px !important; }

  .container_skitter .image_main {
    height: 550px !important; } }
@media only screen and (max-device-width: 1366px) {
  .border_box {
    background-color: #fff;
    height: 410px; }

  .skitter {
    max-width: 100% !important;
    height: 400px !important; }

  .container_skitter .image_main {
    height: 400px !important; } }
@media only screen and (max-device-width: 1280px) {
  .border_box {
    background-color: #fff;
    height: 360px; }

  .skitter {
    max-width: 100% !important;
    height: 350px !important; }

  .container_skitter .image_main {
    height: 350px !important; } }
.label_skitter {
  z-index: 99999;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #f9fbfd !important;
  display: block !important;
  opacity: 0.8;
  background: rgba(255, 255, 255, 0.3) !important;
  height: 44px !important; }
  .label_skitter p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center; }

/* img - type */
.img-type, .single-relate-image, .img, .img-president {
  image-rendering: pixelated;
  filter: drop-shadow(0 0 5px #e1e1ee);
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  vertical-align: middle; }

.img {
  height: 200px;
  width: 80%;
  border-radius: 0.2rem; }
  .img:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1); }
  .img-president {
    height: 350px;
    width: 80%;
    border-radius: 0.2rem; }
    .img-president:hover {
      transform: scale(1.1, 1.1);
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1); }

/* Back to Top */
#back-top-wrapper {
  width: 100%;
  position: absolute;
  overflow: hidden; }

#back-top {
  position: fixed;
  bottom: 180px;
  right: 1%;
  /*margin-left:580px;*/
  display: block;
  cursor: pointer;
  font-size: 30px;
  color: #9c9898;
  opacity: 0.2;
  /* transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s; }

#back-top:hover {
  color: #bebbbb;
  opacity: 1; }

/* load more button */
#load-more, #single-load-more, #member-load-more,
#activity-load-more, #single-activity-load-more {
  margin-top: 2rem;
  cursor: pointer;
  opacity: 0.7;
  text-align: center; }

.hr3 {
  margin-bottom: 10px;
  content: "";
  height: 5px;
  width: 100%;
  background: #a0d3f5;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, transparent), color-stop(50%, #a0d3f5), color-stop(100%, #a0d3f5));
  background: -webkit-linear-gradient(left, transparent 0%, #a0d3f5 50%, transparent 100%);
  background: -moz-linear-gradient(left, transparent 0%, #a0d3f5 50%, transparent 100%);
  background: -ms-linear-gradient(left, transparent 0%, #a0d3f5 50%, transparent 100%);
  background: -o-linear-gradient(left, transparent 0%, #a0d3f5 50%, transparent 100%);
  background: linear-gradient(left, transparent 0%, #a0d3f5 50%, transparent 100%); }

.hr2 {
  margin-bottom: 0;
  margin-top: 15px; }

/*# sourceMappingURL=main-style.css.map */
